.btn {
  margin-left: 10px;
  height: 37px;
  margin-bottom: 5px;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  color: white;
  background-color: #26CCC2;
  border-color: #26CCC2;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  width: 120px
}

.btn-danger {
  color: red;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  right: -15px;
  width: 90px
}

.btn-danger:hover {
  color: white;
  background-color: red;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}
.item {
  display: inline-flex;
  width: 84%;
  position: relative;
  padding-top: 10px;
  margin: 0 0 13px 0;
  cursor: pointer;
}

.item p {
  margin: 0;
}

h6 {
  display: inline-flex;
  width: 78%;
  margin: 0 0 0 -28px;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  font-size: 1.2em;
}

#comments {  
 margin-left: 10px;
 background-color: #26CCC2;
 color: white;
 height: 23px;
}

#redFocus {
  position: relative;
  right: 43px;
  bottom: 10px;
}

.itemBlock {
  margin-left: 10px;
}