.btn {
  margin-left: 10px;
  height: 37px;
  margin-bottom: 5px;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  color: white;
  background-color: #26CCC2;
  border-color: #26CCC2;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.btn-danger {
  color: red;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  right: 5px;
}

.btn-danger:hover {
  color: white;
  background-color: red;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.item {
  display: inline-flex;
  height: 55px;
  width: 84%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

h5 {
  display: inline-flex;
  width: 78%;
  margin: 0;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

#comments {  
 margin-left: 10px;
 background-color: #26CCC2;
 color: white;
 height: 23px;
}