.commentBlock {
  margin-top: 5px;
}

.comment {
  display: inline-flex;
  width: 84%;
  position: relative;
  margin-bottom: 30px;
}

.comment p {
  margin-left: 50px;
  margin-top: -6px;
  font-size: 0.9em;
  text-align: left;
}