.commentBlock {
  margin-top: 15px;
}

.comment {
  display: inline-flex;
  width: 84%;
  position: relative;
  margin-bottom: 40px;
}

.comment p {
  margin-left: 50px;
  font-size: 0.9em;
  text-align: left;
  
}