.commentsContainer {
  width: 450px;
  height: 500px;
  overflow: auto;
  border: 1px solid gray;
  position: absolute;
  left: 500px;
  top: 30px;
}

.newCommentBlock {
  margin-top: 20px;
}

.comment {
  display: inline-flex;
  width: 84%;
  position: relative;
}

.comment textarea {
  margin-left: 50px;
  margin-right: -18px; 
}

textarea {
  resize: none;
  width: 100%;  
}